          <!-- CENTER CLASS -->

          <table class="container">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="center panel">
                            <center>

                              Centered content

                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                    <td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="center panel">
                            <center>

                              <!-- Centered image -->
                              <img src="retina-image.jpg" height="130" width="130" class="center">

                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>



              </td>
            </tr>
          </table>

          <!-- END CENTER CLASS -->