          <!-- VISIBILITY CLASSES -->

          <table class="container">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns show-for-small">
                        <tr>
                          <td class="panel">

                                .show-for-small
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                      <table class="twelve columns hide-for-small">
                        <tr>
                          <td class="panel">

                            .hide-for-small

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>

          <!-- END VISIBILITY CLASSES -->